@{
    ViewBag.Title = "Summary";
}

@{
        <p/>
        <div class="text-center border border-white ">
            <a href="https://cv2you.com/resume/RG3q/">
            <img class="img-thumbnail" src="~/img/CV.png" />
            </a>
        </div>
}
